@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #f6f1f1;
  --green: #4e6c50;

  --light-blue: #19a7ce;
  --highlight-blue: #146c94;
  --red: #cd104d;
  --FF: "Roboto", sans-serif;
  --white: #fbfafa;
  --Fcolor: #3b3a3a;
  --FB: 700;
  --FR: 400;
  --outline: #d8d4d4;
  --grey: #7e7d7d;
}
body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  font-family: var(--FF);
}
main {
  height: 100vh;
}
h1 {
  font-size: 3rem;
  font-weight: var(--FB);
  color: var(--highlight-blue);
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
button {
  cursor: pointer;
  border: none;
}

.form-newplan {
  text-align: center;
  margin-bottom: 2rem;
}
#newPlan {
  width: 50%;
  background-color: var(--white);
  outline: 2px solid var(--outline);
  font-size: 1.8rem;
  border-radius: 4px;
  border: none;
  padding: 0.6rem;
  color: var(--Fcolor);
  margin-right: 0.8rem;
}
#newPlan:focus {
  outline: 2px solid var(--highlight-blue);
}
.input-btn {
  background-color: var(--highlight-blue);
  color: var(--white);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-family: var(--FF);
  font-size: 2.1rem;
  text-transform: uppercase;
}

.input-btn:link,
.input-btn:hover {
  background-color: #2c7698;
  transition: all 0.15s;
}
.input-btn:active {
  background-color: #286d8d;
}
/* .list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 0.8rem;
  width: 55%;
}
.plan {
  background-color: var(--white);
  list-style: none;
  outline: 2px solid var(--outline);
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-checkbox {
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}
.plan-checkbox:checked {
  accent-color: var(--highlight-blue);
}
.checked .plan-display::before {
  content: " ";
  position: absolute;
  border-top: 1px solid var(--grey);
  top: 50%;
  left: 0;
  width: 90%;
}
.plan-display {
  font-size: 1.8rem;
  color: var(--Fcolor);
  flex-grow: 1;
  position: relative;
}
.form-edit {
  flex-grow: 1;
}
.plan-edit {
  width: 50%;
  margin-right: 10%;
  height: 100%;
  font-size: 1.8rem;
  color: var(--Fcolor);
  border-radius: 4px;
  border: none;
}
.plan-edit:focus {
  outline: 2px solid var(--highlight-blue);
}

.btn-container {
  display: inline-flex;
  flex-wrap: nowrap;
  margin-right: 0.6rem;
  gap: 1.5rem;
}

.delete-btn {
  color: var(--red);
  background-color: var(--white);
  font-size: 1.8rem;
  border-radius: 4px;
}
.edit-btn {
  color: var(--green);
  font-size: 1.8rem;
  background-color: var(--white);
  border-radius: 4px;
}
input[disabled],
.input-btn[disabled],
.disabledContainer {
  opacity: 0.4;
  pointer-events: none;
}
.checked {
  opacity: 0.4;
}
.hide {
  display: none;
}

.save-btn {
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--highlight-blue);
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin-right: 1rem;
}
.cancel-btn {
  font-size: 1.2rem;
  color: var(--grey);
  border: 1px solid var(--grey);
  background-color: var(--white);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
}
